<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, voluptatum nam? Nesciunt quis perferendis voluptate explicabo maxime temporibus quaerat, 
    at dolorem, a rerum id? Accusantium provident velit accusamus a voluptatem.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat veniam, numquam, cupiditate commodi deserunt est repudiandae quo veritatis explicabo omnis aliquid at necessitatibus. 
    Laborum, voluptatibus pariatur facilis accusantium repudiandae explicabo!
</p>
