<h1> Buscando:  <small>{{termino}}</small> </h1>
<hr>

<div class="row" *ngIf="heroes.length == 0">
  <div class="col-md-12">
    <div class="alert alert-info" rolw="alert">
      No existe resultados con el termino: {{ termino }}
    </div>

  </div>
</div>






<div class=" card-columns ">


      <div class="card animated fadeIn fast bg-white" *ngFor="let heroe of heroes; let i= index">
        <img [src]=" heroe.img " class="card-img-top" [alt]="heroe.nombre">
        <div class="card-block text-center">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

      <!-- <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block"> Ver mas ...</button>  -->

      <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>

        </div>
      </div>

</div>
 
