/* You can add global styles to this file, and also import other style files */

body{
  margin-bottom:50px;
  
}

body .about{
 background-image: url(assets/img/fondo.jpg);
  border-radius: 10px;
}

body .heroes{
  background-color: rgb(0, 0, 0);
   border-radius: 10px;
}

.fondo-home{
  background-image: url(assets/img/fondo.jpg);
  border-radius: 10px;
}

.f-container{
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 20px;
}



.main-container{
    margin-top: 20px;
} 


.img-logo{
  width: 400px;
  border-radius: 10px;
  margin: 10px;
}

.card{
  background-color: rgba(43, 40, 40, 0.596);

}

.titulo{
  color:rgb(255, 255, 255);
  font-weight: bold;
  border-bottom: 2px solid #fff;
  
}

.parrafo{
  background-color: rgba(0, 0, 0, 0.562);
  color:rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 12px;
  margin:10px;
  padding:20px;
  text-shadow: 3px 1px 2px #000;

}


/* ANIMACIONES */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }